<mat-card class="container">
  <div class="chat-box">
    <app-chat-box
      *ngIf="chat.length"
      [chat]="chat"
      [isGenerating]="isGeneratingResponse"
    ></app-chat-box>
    <app-category-shortcuts
      *ngIf="!chat.length"
      [categories]="levelOneCategories"
      (onSelectedCategory)="onSelectedChoice($event)"
    ></app-category-shortcuts>
  </div>

  <mat-form-field class="message-input">
    <div class="custom-textarea">
      <textarea
        matInput
        cdkTextareaAutosize
        [(ngModel)]="message"
        (keydown)="triggerFunction($event)"
      ></textarea>
      <div class="placeholder" [class.active]="message">
        Enter your message...
      </div>
      <button
        class="send-icon"
        (click)="onSend1()"
        [disabled]="isGeneratingResponse || !message"
        [class.disabled]="isGeneratingResponse || !message"
        mat-icon-button
      >
        <mat-icon>send</mat-icon>
      </button>
    </div>
  </mat-form-field>
</mat-card>
