<div class="chat-container" #scrollContainer>
  <mat-card
    *ngFor="let message of chat"
    [ngClass]="{ 'align-right': message.sender === 'User' }"
  >
    <p *ngIf="message.sender === 'System'" appTypewriter>
      {{ message.text }}
    </p>
    <p *ngIf="message.sender === 'User'">
      {{ message.text }}
    </p>
  </mat-card>
  <mat-card class="typing-card" *ngIf="isGenerating">
    <div class="typing-dots">
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
    </div>
  </mat-card>
</div>
