<div class="chat-container" #scrollContainer>
  <div
    *ngFor="let message of chat"
    class="message-container"
    [ngClass]="{ 'align-right': message.sender === 'User' }"
  >
    <mat-card *ngIf="message.sender === 'System'">
      <p appTypewriter>
        {{ message.text }}
      </p>
    </mat-card>
    <mat-card
      *ngIf="message.sender === 'User'"
      [ngClass]="{ 'align-right': message.sender === 'User' }"
    >
      <p>
        {{ message.text }}
      </p>
    </mat-card>
    <app-options-box
      *ngIf="message.sender === 'Automatic' && message.text === 'Options'"
      [options]="message.options"
      (onSelectedChoice)="onSelectedChoice($event)"
      [message]="message.messageForOptions"
    >
    </app-options-box>
    <app-documentation-message
      *ngIf="
        selectedChoice &&
        message.sender === 'Automatic' &&
        message.text === 'documentation'
      "
      [message]="selectedChoice"
    ></app-documentation-message>
    <mat-card
      class="typing-card"
      *ngIf="message.sender === 'Automatic' && message.text === 'typing'"
    >
      <div class="typing-dots">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
      </div>
    </mat-card>
  </div>
</div>
